# Lists
A list is a **data structure** and more particularilly a **sequence**, meaning that it is an ensemble of elements brought together in a single object. <br />
Lists are declared between **"[ ]"**, with every element being separated by **","**.

In [ ]:
# Assigning a list to a variable
my_list = [1, 2, 3]

In [ ]:
my_list

[1, 2, 3]

Every element in a list is **indexed**, meaning that they are associated to a number, referring to their order.<br />
In Python, as in most programming languages, indexing **starts at 0**.<br />
Elements can be accessed as following:

In [ ]:
# Displaying the first, second and third element of a list
print(my_list[0])
print(my_list[1])
print(my_list[2])

1
2
3

Lists are **mutable**, which means that all of its elements **can be modified**.

In [ ]:
# Updating the  third element of a list
my_list[2] = 5
my_list

[1, 2, 5]

Indexing a list using a positive index will count the index from the start, while giving a **negative index** will count them **from the end of the list**.<br />
As an example, the last element of a list can be accessed with the index -1.

In [ ]:
# Displaying the third element of a list from the end
my_list[-3]

1

If you try to access an index that is **not in a list**, the Python interpreter will not find it and give an **IndexError**.

In [ ]:
my_list[100]

IndexError: list index out of range

## Concatenation
You can **concatenate** multiple lists using the operator **+**.

In [ ]:
my_list = [1, 2, 3] + [4, 5]
my_list

[1, 2, 3, 4, 5]

##  List length and list slicing
The number of elements in a list can be determined using the function **"len()"**.

In [ ]:
len(my_list)

5

Slicing means creating a **subset based on indexing**. It is possible to slice a list by specifiying the **first element** of the list that has to be kept followed by the **first one that should be rejected** (last index to be kept +1) using the following syntax:

list[start:end]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Slicing a list, keeping from the 3rd element to the 6th
my_list[2:6]

[3, 4, 5, 6]

**WARNING**: keep in mind that **indexing starts at 0** (first element is considered index 0) and that while slicing, the end index is the **first element to be rejected**.

If the **first index is not provided** during slicing, it will consider that it is 0 and **slice the list from the start**. <br />
If the **end index is not provided**, it will **slice the list to the end**.

In [ ]:
# Slicing a list, keeping from the 1st element to the 5th
my_list[:5]

[1, 2, 3, 4, 5]

In [ ]:
# Slicing a list, keeping from the 5th element to the end
my_list[5:]

[6, 7, 8, 9, 10]

In [ ]:
# Slicing a list, keeping from the 2nd element to the 3rd element from the end
my_list[2:-2]

[3, 4, 5, 6, 7, 8]

## Element checking
It is possible to know if an element is in a list using the operator **in**

In [ ]:
#Checking if a number is in a list
100 in my_list

False

In [ ]:
#Checking if a number is not in a list
100 not in my_list

True

## List nesting
In Python, data structures such as lists support **nesting**, which means that they can be host other data structures as elements. <br />
For example, **a list can contain other lists**.

In [ ]:
# Creation of a list composed of three other lists
list_1=[1, 2, 3]
list_2=[4, 5, 6]
list_3=[7, 8, 9]
new_list = [list_1, list_2, list_3]
new_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Lists built-in functions

### Append
The **"append()"** function allows to add a **new element** at the **end of a list**.

In [1]:
# Adding 5 at the end of a list
my_list = [6, 1, 3, 5, 7, 2, 4, 5]
my_list.append(5)
print(my_list)

[6, 1, 3, 5, 7, 2, 4, 5, 5]

### Index
The **"index()"** function will return the first index of an element in a list. However, if the element is not in the list, it will give an **ValueError**.

In [2]:
# Find the index of 5
my_list = [6, 1, 3, 5, 7, 2, 4, 5]
my_list.index(5)

3

#### Extend
The **"extend()"** function allows to **add new elements at the end of a list**. This is equivalent to list concatenation.

In [ ]:
# Add a list at the end of a list
print(my_list)
# TODO

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8]

### Insert
The **"insert()"** function allows to add a **new element** at a **given index** of a list.

In [ ]:
# Add a 100 as the 5th element of a list
print(my_list)
# TODO

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8]
[1, 2, 3, 4, 100, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8]

### Remove
The **"remove()"** function **removes the first iteration of a value** in a list.<br />
If the value is not in the list, it will give us a **ValueError**.

In [ ]:
# Remove 100 from the list
print(my_list)
# TODO

print(my_list)

[1, 2, 3, 4, 100, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8]

### Pop
The **"pop()"** function **removes an element** of a list at a **given index**. If no index is provided, it will remove the last element of a list.

In [6]:
# Displays the associated documentation
?list.pop

In [ ]:
# Remove the 5th element from the list
my_list = [6, 1, 3, 5, 7, 2, 4, 5]
# TODO

print(my_list)

[6, 1, 3, 5, 2, 4, 5]

In [ ]:
# Remove the last element from the list
my_list = [6, 1, 3, 5, 7, 2, 4, 5]
# TODO

print(my_list)

[6, 1, 3, 5, 7, 2, 4]

### Clear
The **"clear()"** function **removes every element** in a list, making it an empty list.

In [ ]:
# Removes every element from the list
my_list = [6, 1, 3, 5, 7, 2, 4, 5]
# TODO

print(my_list)

[]

### Count
The **"count()"** function returns the number of occurence of one element in a list.

In [ ]:
# Display the number of 5 in the list
my_list = [6, 1, 3, 5, 7, 2, 4, 5]
# TODO

2

### Sort
The **"sort()"** function orders the elements of a list in an **ascending order**.

In [ ]:
# Display the sorted list
my_list = [6, 1, 3, 5, 7, 2, 4]
# TODO

print(my_list)

[1, 2, 3, 4, 5, 6, 7]

If a **descending order** is desired the argument **reverse can be put to True** (it is False by default to achieve ascending order).

In [ ]:
# Display the list sorted in reverse
my_list = [6, 1, 3, 5, 7, 2, 4]
# TODO

print(my_list)

[7, 6, 5, 4, 3, 2, 1]

### Reverse
The **"reverse()"** function inverts the order of a list.

In [ ]:
# Display the reversed list
my_list = [6, 1, 3, 5, 7, 2, 4]
# TODO

print(my_list)

[4, 2, 7, 5, 3, 1, 6]

### Copy
The **"copy()"** function returns a copy of the original list.

In [ ]:
my_list = [6, 1, 3, 5, 7, 2, 4]
my_new_list = my_list.copy()
print(my_new_list)

[6, 1, 3, 5, 7, 2, 4]

# Tuples
Tuples are also **data structures**, and as a matter of fact they are very **similar to lists**. But, in opposition to lists, they are **immutable**, which means that once the are declared, they **cannot be modified**. <br />
As a result, they will share most of lists features and built-in functions, except the ones that are imply modification (i.e. "append()", "sort()", remove()",...).<br />
Tuples are declared between **"( )"**.

In [ ]:
# Assigning a tuple to a variable
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [ ]:
# Displaying the second element of a tuple
print(my_tuple[1])

2

# Sets
Sets are also **data structures**, but they are only composed of **unique elements**. This means that each element can only occur once inside the set.<br />
NB: The elements are not ordered inside a set.

Other **data structures can be converted to sets** using the **"set()"** function.

In [ ]:
my_list = [6, 1, 3, 5, 7, 2, 4, 6, 6, 6, 7]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5, 6, 7}

And conversively, a set can be converted to a list.

In [ ]:
new_list = list(my_set)
new_list

[1, 2, 3, 4, 5, 6, 7]

# Range
Range are a particular kind **data structures**, they are used to create an ordered list of number, in an ascending order.
As a result, they are composed of **ordered unique elements**. They are also **immutable**.<br />
They are declared using the function **"range()"**. This function has three arguments, the **first number to start** the range, the **first number to be rejected** (will not be included in the range), and the **increment**.

In [ ]:
# Creates a range that starts at 4, will stop at 12 and is incrementing by 2.
x = range(4, 12, 2)
x

range(4, 12, 2)

Displaying a range will not show the numbers that are contained inside. For this, it needs to be converted to a list using the **"list()"** function.

In [ ]:
list(x)

[4, 6, 8, 10]

It is **not necessary to provide the three arguments** to the range. For example, if the **incrementing argument** is not provided (only the start and the end are), the function will consider it **1 by default**.

In [ ]:
# Creates a range that starts at 4, will stop at 12 and is incrementing by 1.
x = range(4, 12)
list(x)

[4, 5, 6, 7, 8, 9, 10, 11]

Similarily, the **start argument is optional**. If it is not provided, it will be considered as **0 by default**.

In [ ]:
# Creates a range that starts at 0, will stop at 12 and is incrementing by 1.
x = range(12)
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

As a matter of fact, only the **end argument is necessary**.