# Data indexing in pandas

*This tutorial is largely inspired by the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook) and is released under the MIT license.*

*Some of the exercises proposed here as well as many others can be found on [kaggle](https://www.kaggle.com/python10pm/pandas-75-exercises-with-solutions)*

In [4]:
import numpy as np
import pandas as pd

## Reminders on numpy arrays
In the second session, we saw several methods to access and modify values in numpy arrays for instance:

In [3]:
arr = np.arange(12).reshape(3, 4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

### Indexing

In [1]:
# TODO: Grab the value 6 in arr

### Slicing
Reminder: The syntax for slicing is [start:stop:step]

In [2]:
# TODO: grab the values 5 and 9 in arr

### Masking

In [5]:
# TODO: grab the values greater than threshold in arr_flat
threshold = 2
arr_flat = np.arange(12)

### Reminder on element-wise boolean operators 
Element-wise boolean operations on NumPy arrays of booleans can be performed using the following characters:
- **and**: arr1 & arr2
- **or** : arr1 | arr2
- **not**: ~arr

In [6]:
# TODO: grab the values greater than threshold_low and lower than threshold_high in arr_flat
threshold_low = 2
threshold_high = 9

## Key difference between Pandas objects and NumPy array
Similar ideas will be applied to pandas objects. You must however be aware of some potential issues that arise from the difference between the `explicit` index of pandas `Series` and `DataFrame` i.e. the 'name' of the rows and columns of your object and the `implicit` index or position, similar to NumPy indexing.

For instance, try grabbing the element "cat" for the Series below:

In [8]:
animals = pd.Series(["dog", "cat", "duck"], name="animal", index=[1, 2, 12])
# TODO: Grab the element "cat" from the animals
animals

1      dog
2      cat
12    duck
Name: animal, dtype: object

## Data Selection in Series

As seen previously, a lot of similarities can be found between pandas Series and 1-D dimensional NumPy arrays or dictionaries and both types of indexing can be used.

In [9]:
# Let's create a small pandas Series
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

### Using Series similarly to dictionaries

In [10]:
# TODO: grab the value with index "b" from data

In [12]:
# TODO: Change the value with index "d" in data to 42

### Using a Series like a one-dimensional array
Slicing can either be done using the **explicit index** of the `Series` or the **implicit integer index** i.e. the position of the elements in the `Series`.

In [ ]:
# TODO: Use slicing to select the first three elements of data using its explicit index (the letters)

In [ ]:
# TODO: Same thing using its implicit index (similarly to how you would slice a numpy array)

### Indexers: loc and iloc
These slicing and indexing conventions can be a source of confusion, in particular when the  explicit indexes of your `Series` are integers:

In [94]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [95]:
# explicit index when indexing
data[1]

'a'

In [96]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

First, the ``loc`` attribute allows indexing and slicing that always references the explicit index:

In [98]:
data.loc[1]

'a'

In [99]:
data.loc[1:3]  # Note that with explicit indexing, the end index is included

1    a
3    b
dtype: object

The ``iloc`` attribute allows indexing and slicing that always references the implicit Python-style index:

In [100]:
data.iloc[1]

'b'

In [101]:
data.iloc[1:3]

3    b
5    c
dtype: object

### Masking
Note that similarly to NumPy arrays, pandas `Series` can be filtered using masking.

Filter the following `Series` to keep only the values greater than threshold:

In [13]:
threshold = .6
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
# TODO
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

## Data Selection in a `DataFrame`
Recall that a `DataFrame` acts in some ways similarly to a dictionary of `Series` and in others similarly to a 2-dimensional NumPy array.

Lets create a `DataFrame`:

In [14]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

### Accessing the `Series` composing a `DataFrame`
The `Series` composing a `DataFrame` can be accessed using a dictionary-like or attribute-like syntax:

In [80]:
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [81]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

### Treating a `DataFrame` as a 2-dimensional array
The raw underlying data of a `DataFrame` can be accessed using the `values` attribute:

In [83]:
data.values

array([[  423967, 38332521],
       [  695662, 26448193],
       [  141297, 19651127],
       [  170312, 19552860],
       [  149995, 12882135]])

### Using implicit indexing on pandas `DataFrame`
Similarly to pandas `Series`, the `iloc` indexer can be used to extract a part of a `DataFrame` using NumPy-like indexing.

Try it by selecting the even rows of data (reminder, for array slicing, the syntax is *[start:stop:step]*).

In [15]:
# TODO
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

## Exercises

After loading the small database of avocado production in the US as a DataFrame (adapted from [this](https://www.kaggle.com/neuromusic/avocado-prices) database) solve the following problems:

In [39]:
# Load avocado_simplified.csv file as a DataFrame
avocado_prices = pd.read_csv("avocado_simplified.csv", index_col=0)
avocado_prices

                  region          type  AveragePrice  Total Volume
0                 Albany  conventional      1.348757  1.570061e+07
1                 Albany       organic      1.773314  3.671885e+05
2                Atlanta  conventional      1.068817  8.666139e+07
3                Atlanta       organic      1.607101  1.943727e+06
4    BaltimoreWashington  conventional      1.344201  1.307456e+08
..                   ...           ...           ...           ...
101                Tampa       organic      1.616095  7.162671e+05
104                 West  conventional      0.985089  1.049361e+09
105                 West       organic      1.559349  3.741857e+07
106     WestTexNewMexico  conventional      0.842130  1.419867e+08
107     WestTexNewMexico       organic      1.688855  2.535104e+06

[106 rows x 4 columns]

Filter the `DataFrame` to only keep rows corresponding to the production of conventional avocados

In [16]:
# TODO

Find the total volume of avocados produced in the US

In [17]:
# TODO

Find the total volume of avocado produced in Louisville

In [18]:
# TODO

Select all rows for which the average price is greater than 2

In [19]:
# TODO

Using a weighted average, compute the average price of an avocado in the US:

In [20]:
# TODO
def weighted_mean(values, weights):
    """Compute the weighted average of input values using weights.
    
    values and weights must be array-like objects of same length
    """
    # TODO

Find the regions producing the smallest and highest volumes of conventional avocado in the US (you should get Syracuse and West):

In [60]:
# TODO: minimal

'Syracuse'

In [21]:
# TODO: maximal

Note that many more operations can be performed on pandas DataFrame but are a bit off-topic in this brief introduction.

As a bonus exercise, you can for instance try to [combine the groupby and agg methods](https://pandas.pydata.org/pandas-docs/version/0.22.0/generated/pandas.core.groupby.DataFrameGroupBy.agg.html) to generate a `DataFrame` with indexes conventional and organic containing the total volume of avocado produced in the US, split by avocado type.

You should obtain something similar to:


| type            | Total Volume |
|--------------|--------------|
| **conventional** | 9.385999e+09 |
| **organic**    | 2.726631e+08 |

In [22]:
# TODO (optional)