# Analysis of a dataset

## Step 1: Load and preprocess the dataset using pandas

Load the data stored in [Mammal_lifehistories_v2.txt](http://esapubs.org/archive/ecol/E084/093/Mammal_lifehistories_v2.txt), from https://doi.org/10.1890/02-9002 using [pandas' read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

**Hints**:
- Pay attention to the `delimiter` used in the file containing the data
- Missing data in this file is specified by `-999` and `-999.00`
- You can skip the last rows using the `skipfooter` argument

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
# TODO: Load the content of Mammal_lifehistories_v2.txt as a DataFrame
pd.read_csv("Mammal_lifehistories_v2.txt", sep='\t', na_values=-999, skipfooter=6, engine='python')

,order,family,Genus,species,mass(g),gestation(mo),newborn(g),weaning(mo),wean mass(g),AFR(mo),max. life(mo),litter size,litters/year,refs
0,Artiodactyla,Antilocapridae,Antilocapra,americana,45375.0,8.13,3246.36,3.00,8900.0,13.53,142.0,1.85,1.00,"1,2,6,9,23,26,27"
1,Artiodactyla,Bovidae,Addax,nasomaculatus,182375.0,9.39,5480.00,6.50,NaN,27.27,308.0,1.00,0.99,"1,2,17,23,26"
2,Artiodactyla,Bovidae,Aepyceros,melampus,41480.0,6.35,5093.00,5.63,15900.0,16.66,213.0,1.00,0.95,"1,2,8,9,23,29"
3,Artiodactyla,Bovidae,Alcelaphus,buselaphus,150000.0,7.90,10166.67,6.50,NaN,23.02,240.0,1.00,NaN,"1,2,17,23"
4,Artiodactyla,Bovidae,Ammodorcas,clarkei,28500.0,6.80,NaN,NaN,NaN,NaN,NaN,1.00,NaN,"1,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Xenarthra,Megalonychidae,Choloepus,hoffmanni,4750.0,9.41,387.25,0.69,NaN,30.12,385.0,1.00,0.70,"1,2,16,23,29"
1436,Xenarthra,Megalonychidae,Choloepus,didactylus,6070.0,8.67,354.77,2.50,NaN,36.00,333.0,1.50,1.00,"1,2,3,11,13,17,29"
1437,Xenarthra,Myrmecophagidae,Cyclopes,didactylus,5070.0,8.92,NaN,5.00,NaN,NaN,NaN,1.00,NaN,"1,3,16"
1438,Xenarthra,Myrmecophagidae,Myrmecophaga,tridactyla,28500.0,6.19,1491.17,1.83,NaN,39.00,310.0,1.00,1.17,"1,2,3,13,17,29"
1439,Xenarthra,Myrmecophagidae,Tamandua,tetradactyla,5030.0,5.22,NaN,NaN,NaN,12.00,114.0,1.00,1.35,"1,2,3,13,16"

In [5]:
?pd.read_csv

In [5]:
# Show a few properties of the dataset using pd.DataFrame.describe
df.describe()

NameError: name 'df' is not defined

In [4]:
# Show the columns' names by converting to a list
list(df)

['order',
 'family',
 'Genus',
 'species',
 'mass(g)',
 'gestation(mo)',
 'newborn(g)',
 'weaning(mo)',
 'wean mass(g)',
 'AFR(mo)',
 'max. life(mo)',
 'litter size',
 'litters/year',
 'refs']

## Step 2: Data visualization using matplotlib
Graph adult mass vs. newborn mass. Label the axes and add a title.

In [ ]:
# TODO

Graph the log (base 10) of adult mass vs. the log (base 10) of newborn mass. Label the axes and add a title.

In [6]:
# TODO

For data where order is Rodentia, graph the log (base 10) of adult mass vs. the log (base 10) of newborn mass. Label the axes.

In [7]:
# TODO
# Hint: Start by creating a boolean array which is True when the "order" is equal to "Rodentia"

## Step 3: Find a simple model for the data

Using for instance [scipy's linear regression function](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.linregress.html), find and plot a simple model between the adults' and the offsprings' mass. Plot the resulting model over the data, label the axes and add a legend for both the experimental data and the resulting model. 

**Hint**: You will need to deal with missing values.

In [8]:
# Apply a linear regression to the log-log data
from scipy import stats
# TODO
slope = ...
intercept = ...

In [9]:
print(f"""------OUTPUT OF THE REGRESSION------
Slope: {slope}
Intercept: {intercept}""")

NameError: name 'slope' is not defined

In [10]:
# TODO, plot the log-log data and the resulting regression